name: Go
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.16
      uses: actions/setup-go@v1
      with:
        go-version: 1.16
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Install deps
      run: sudo apt-get update && sudo apt-get install -y libpcap0.8 libpcap0.8-dev

    - name: Build Linux Only
      run: make

    - name: Run tests
      run: make test 
      
    - name: Check Go Format
      run: make test-fmt 
        
    - name: Check go.mod is tidy
      run: make test-tidy
